@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600;700&family=Montserrat:wght@300;400;500;600;700&family=Overpass:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Overpass', sans-serif;
}

:root {
    --azul-oscuro: hsl(216, 12%, 8%);
    --azul-intermedio: hsl(213, 19%, 18%);
    --gris-medio: hsl(216, 12%, 54%);
    --gris-claro: hsl(217, 12%, 63%);
    --blanco: hsl(0, 0%, 100%);
    --naranja: hsl(25, 97%, 53%);
}



body {
    background-color: var(--azul-oscuro);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calificacion-imagen {
    background-color:hsla(216, 12%, 54%, 0.101) ;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calificacion-contenedor {
    background-color: var(--azul-intermedio);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 32px;
    gap: 16px;
    border-radius: 24px;
}

.calificacion-contenedor h2{
    color: var(--blanco);
    font-weight: 400;
    margin-top: 10px;
}

.calificacion-contenedor p {
    text-align: left;
    font-size: 15px;
    color: var(--gris-medio);
    margin-bottom: 10px;
    line-height: 1.3rem;
}

.calificacion-botones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calificacion-boton {
    border: 0;
    background-color:hsla(216, 12%, 54%, 0.101) ;
    padding: 16px 21px;
    border-radius: 100%;
    color:var(--gris-medio);
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.calificacion-boton:hover {
    cursor: pointer;
    background-color: var(--gris-claro);
    color: var(--blanco);
}

.calificacion-submit {
    border-radius: 24px;
    border: 0;
    padding: 12px;
    background-color: var(--naranja);
    color: var(--blanco);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.calificacion-submit:hover {
    background-color: var(--blanco);
    color: var(--naranja);
    cursor: pointer;
}

/* Respuesta enviada */

.respuesta-enviada-contenedor {
    background-color: var(--azul-intermedio);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 32px;
    gap: 16px;
    border-radius: 24px;
}

.respuesta-enviada-contenedor h2{
    color: var(--blanco);
    font-weight: 700;
    margin-top: 10px;
}

.respuesta-enviada-contenedor p {
    text-align: center;
    font-size: 15px;
    color: var(--gris-medio);
    margin-bottom: 10px;
    line-height: 1.5rem;
}

.respuesta-elegida {
    background-color: hsla(216, 12%, 54%, 0.101);
    border-radius: 24px;
    padding: 4px 16px;
    
}

.respuesta-elegida p {
    margin-bottom: 0;
    color: var(--naranja);
}

.disabled {
    display: none;
}

.checked {
    background-color: var(--naranja);
    color: var(--blanco);
}